@import "swiper/css";
@import "swiper/css/scrollbar";
@import "../bases/variables";

#container-swiper {
  width: 100%;

  .swiper {
    .swiper-slide {
      img {
        height: 150px;
        object-fit: cover;

        border-radius: 30px;
      }

      h3 {
        margin-bottom: 20px;
      }
    }

    .swiper-scrollbar {
      background: rgba(0, 0, 0, 0.1);
      height: 5px;
      border-radius: 5px;

      .swiper-scrollbar-drag {
        background: $main;
        border-radius: 5px;
      }
    }
  }
}

// Responsive

@media screen and (min-width: 768px) {
  #container-swiper {
    .swiper {
      .swiper-slide {
        img {
          height: 200px;
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  #container-swiper {
    .swiper-wrapper {
      max-width: 80vw;
    }
  }
}
