#hero {
  text-align: center;

  height: 90vh;

  display: flex;
  flex-direction: column;
  gap: 50px;

  margin-bottom: 150px;

  justify-content: center;

  img {
    align-self: center;
  }

  p {
    font-size: 32px;
  }
}
