// Import variables

@import "../bases/variables";

#ingredients-recipe {
  padding: 0 20px;
  margin-bottom: 50px;

  #section-head-ingredient {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    #quantity-select {
      display: flex;
      align-items: center;
      gap: 25px;

      button {
        background: $main;
        border: none;
        padding: 20px 25px;
        border-radius: 30px;
      }
    }
  }

  #ingredients-list {
    background: #fff;
    border: 1px solid $main;
    border-radius: 30px;
    padding: 20px 30px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    .ingredient {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .ingredient-quantity {
        color: $grey-text;
      }
    }
  }
}
