// Import variables

@import "../bases/variables";

#ingredients-recipe {
  padding: 0 30px;
  #section-head {
    display: flex;
    justify-content: space-between;

    select {
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }

    #custom-select {
      position: relative;

      button {
        border: none;
        background: $main;
        border-radius: 30px;
        padding: 18px 30px;

        display: flex;
        gap: 10px;
        align-items: center;

        &.button-open svg {
          transform: rotate(180deg);
        }
      }

      ul {
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        background-color: #fff;
        border-radius: 0.8rem;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        padding: 10px 0;
        margin: 0;
        width: 100%;
        z-index: 10;

        li {
          padding: 10px 30px;
          color: $dark-text;

          &.active {
            background-color: $main;
          }
        }
      }
    }
  }
}
