// Import variables

@import "../bases/variables";

nav {
  width: 100%;
  background: $light-bg;

  position: fixed;
  bottom: 0;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  box-shadow: 0 -6px 30px 6px #00000010;

  z-index: 100;

  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .is-active {
      background: $main;
    }

    li:nth-child(1) a {
      border-top-left-radius: 15px;
    }

    li:nth-child(4) a {
      border-top-right-radius: 15px;
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 6px;
      font-size: 18px;

      padding: 10px 0;

      svg {
        height: 25px;
        width: 46px;
      }
    }
  }
}

// Responsive

@media screen and (min-width:1025px) {
  nav {
    width: auto;
    background: none;
    position: relative;

    border-radius: 0;

    box-shadow: none;
    
    z-index: auto;

    ul {
      display: flex;
      gap: 10px;

      li {
        a {
          padding: 10px;
          border-radius: 0 !important;
  
        }
        &:nth-child(4) {
          background: $light-bg;
          border-radius: 100000px;
          width: 45px;
          
        }

      }

    }
  }
}