// Import variables

@import "../bases/variables";

#nutritional-values {

  > div {
    border: 1px solid $main;
    border-radius: 30px;

    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    #section-head-nutritional-values {
      display: flex;
      justify-content: space-between;
      gap: 20px;

      align-items: center;

      &.active .icon {
        transform: rotate(180deg);
      }

      &:hover {
        cursor: pointer;
      }
    }

    .hidden {
      display: none;
    }

    .active ul {
      display: flex;
      flex-direction: column;
      gap: 15px;

      li {
        font-size: 22px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
      }
    }
  }
}

// Responsive design

@media screen and (min-width:1025px) {
  #nutritional-values {
    > div {
      .active ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
        column-gap: 30px;
      }
    }
  }
}