// Import variables

@import "../bases/variables";

#profile-infos {
  min-height: calc(100vh - (73px + 116px + 100px));
  justify-content: center;
  margin-bottom: calc(73px + 116px);
  display: flex;
  flex-direction: column;
  gap: 50px;

  h1 {
    padding: 20px 0;
    background: $main;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 25px;

    #infos {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;

      p {
        color: $grey-text;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 25px;

      div {
        display: flex;
        flex-direction: column;
        gap: 10px;

        input {
          padding: 10px 20px;
          width: auto;
          border-radius: 20px;
          border: 3px solid $grey-border;

          &:focus {
            outline: none;
            border-color: $main;
          }
        }
      }
    }
  }

  .logout-button {
    width: 100%;
    border: 2px solid $main;
    border-left: none;
    border-right: none;
    padding: 30px 0;
    color: #ff0000;
  }
}
