// Import variables

@import "../bases/variables";

#profile-infos {
  h1 {
    padding: 20px 0;
    background: $main;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: calc(100vh - (73px + 116px + 100px));
    justify-content: center;
    margin-bottom: calc(73px + 116px);

    form {
      display: flex;
      flex-direction: column;
      gap: 25px;

      div {
        display: flex;
        flex-direction: column;
        gap: 10px;

        input {
          padding: 10px 20px;
          width: auto;
          border-radius: 20px;
          border: 3px solid $grey-border;

          &:focus {
            outline: none;
            border-color: $main;
          }
        }
      }
    }

    .logout-button {
      background-color: #dc3545;

      &:hover {
        background-color: #c82333;
      }
    }
  }
}
