#recommended-recipes {
  display: flex;
  flex-direction: column;
  gap: 20px;

  h2 {
    margin-bottom: 30px;
  }
}

// Responsive 

@media screen and (min-width: 1025px) {
  #recommended-recipes {
    margin-bottom: 250px;
  }
}