#scanner-recipes-result {
  > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 30px;

    img {
      height: 150px;
      object-fit: cover;
    }
  }

  button {
    margin-bottom: 20px;
  }
}
