// Import variables
@import "../bases/variables";

#ingredient-search-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    li {
      padding: 15px;
      background: $main;
      display: flex;
      align-items: center;
      gap: 8px;
      border-radius: 100000px;
    }
  }

  .button {
    width: auto;
  }

  hr {
    height: 2px;
    background-color: $main;
  }

  a {
    margin-bottom: 100px;
  }
}
