// Import variables

@import "../bases/variables";

#scanner-default {

  h1 {
    background: $main;
    padding: 40px 0;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
  }
}