#scanner-recipes-result {
  > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 30px;

    img {
      height: 150px;
      object-fit: cover;
    }
  }

  button {
    margin-bottom: 20px;
    
    &.generate-button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      
      &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
      }
    }
  }
}
