// Import variables

@import "../bases/variables";

#scanner-recipes {
  margin-bottom: 100px;

  #section-scanner-recipes-head {
    background: $main;
    padding: 40px 0;
    align-items: center;

    margin-bottom: 50px;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
