// Import variables

@import "../bases/variables";

#scanner-default {
  h1 {
    background: $main;
    padding: 40px 0;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
  }
}

// Responsive design

@media screen and (min-width:1025px) {
  #scanner-default {
    div {
      min-height: 50vh;
    }
  }
}