// Import variables
@import "../bases/variables";

#ingredient-search-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    li {
      padding: 15px;
      background: $main;
      display: flex;
      align-items: center;
      gap: 8px;
      border-radius: 100000px;
    }
  }

  > div {
    font-family: $font-text;
  }
}
