// Import variables

@import "../bases/variables";

#scanner-ingredients {
  #section-ingredients-head {
    background: $main;
    padding: 40px 0;
    align-items: center;

    margin-bottom: 50px;
  }



  form {
    display: flex;
    flex-direction: column;

    gap: 10px;

    #ingredient-search {
      padding: 20px;
      border-radius: 30px;

      border: 3px solid $grey-border;

      width: auto;

      &:focus {
        border-color: $main;
        outline: none;
      }
    }
  }
}
