// Import variables

@import "../bases/variables";

#scanner-discovery {
  display: flex;
  flex-direction: column;
  gap: 20px;

  h2 {
    margin-bottom: 30px;
  }

  article {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
