#scanner-recipes-result {
  > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 30px;

    img {
      height: 150px;
      object-fit: cover;
      border-radius: 30px;
    }
  }

  button {
    margin-bottom: 20px;

    &.generate-button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
      }
    }
  }
}

// Responsive design

@media screen and (min-width: 768px) {
  #scanner-recipes-result {
    > div {
      img {
        height: 200px;
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  #scanner-recipes-result {
    > div {
      grid-template-columns: repeat(4, 1fr);
    }

    button {
      justify-self: center;
    }
  }
}
