// Import variables

@import "../bases/variables";

#scanner-ingredients {
  #section-ingredients-head {
    background: $main;
    padding: 40px 0;
    align-items: center;

    margin-bottom: 50px;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      li {
        padding: 15px;
        background: $main;
        display: flex;
        align-items: center;
        gap: 8px;
        border-radius: 100000px;
      }
    }
  }
}
