// Import variables

@import "../bases/variables";

#head-recipes {
  background: $main;
  margin-bottom: 50px;

  > div {
    padding: 40px 30px;

    h1 {
      margin-bottom: 50px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      div {
        display: flex;
        align-items: center;

        gap: 20px;

        padding: 20px;

        background: $white;
        border: 3px solid $grey-border;
        border-radius: 30px;

        label {
          font-size: 0;

          svg {
            color: $grey-text;
          }
        }

        input {
          border: none;

          &:focus {
            outline: none;
          }
        }

        &:focus-within {
          border-color: $main;
        }
      }

      button {
        background: $light-bg;
      }
    }
  }
}

// Responsive design

@media screen and (min-width:1025px) {
  #head-recipes {
    > div {
      form {
        div {
          width: 900px;
          align-self: center;
        }
      }
    }
  }
}