// Import variables

@import "../bases/variables";

#result {
  position: relative;

  .loader {
    margin-top: 150px;
  }

  h2 {
    margin-bottom: 20px;
  }

  > div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    margin-bottom: 50px;

    img {
      height: 150px;
      object-fit: cover;
      border-radius: 30px;
    }
  }
}

// Responsive

@media screen and (min-width: 400px) {
  #result {
    > div {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: 768px) {
  #result {
    > div {
      grid-template-columns: repeat(3, 1fr);

      img {
        height: 200px;
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  #result {
    > div {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
