// Import variables

@import "../bases/variables";

#result {
  margin-bottom: 350px;
  position: relative;

  .loader {
    margin-top: 150px;
  }

  h2 {
    margin-bottom: 20px;
  }

  > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 50px;

    img {
      height: 150px;
      object-fit: cover;
    }
  }
}
