// Import variables

@import "../bases/variables";

#sign-in {
  display: flex;
  flex-direction: column;
  gap: 50px;
  min-height: calc(100vh - (73px + 116px));
  justify-content: center;
  margin-bottom: calc(73px + 116px);

  h1 {
    padding: 20px 0;
    background: $main;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 25px;

    div {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input {
        padding: 10px 20px;
        width: auto;
        border-radius: 20px;
        border: 3px solid $grey-border;

        &:focus {
          outline: none;
          border-color: $main;
        }
      }

      &:nth-child(5) {
        flex-direction: row;
        align-items: baseline;

        a {
          text-decoration: underline;
        }
      }
    }
  }

  .validation-message {
    text-align: center;
  }

  .success {
    color: green;
  }

  .failed {
    color: red;
  }
}
