// Import variables

@import "../bases/variables";

#time-recipe {
  background: $main;

  > div {
    padding: 30px 40px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    gap: 20px;

    > div {
      text-align: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .time-svg {
        background: $light-bg;
        border-radius: 10000px;
        height: 100px;
        width: 100px;
        margin-bottom: 15px;

        align-self: center;

        align-content: center;
      }

    }
  }
}
