// Import variables

@import "../bases/variables";

#time-recipe {
  background: $main;
  margin-bottom: 50px;

  h2 {
    text-align: center;
    padding-top: 30px;
  }

  > div {
    padding: 20px 30px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    gap: 20px;

    > div {
      text-align: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .time-svg {
        background: $light-bg;
        border-radius: 10000px;
        height: 60px;
        width: 60px;
        margin-bottom: 15px;

        align-self: center;

        align-content: center;
      }
    }
  }
}
