// Import variables

@import "../bases/variables";

#error-404 {
  h1 {
    background: $main;
    padding: 20px 0;

  }

  .container {
    position: absolute;
    place-self: anchor-center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

    p {
      text-align: center;
    }
  }

}


// Responsive 

@media screen and (min-width:1025px) {
  #error-404 {
    min-height: calc(100vh - (106px + 214px));
    margin-bottom: 0px;

    h1 {
      background: none;
      padding: 0;
    }
  }
}