.mobile-bg {
  padding-bottom: 350px;
  position: relative;
  overflow: hidden;

  .bg-icon {
    position: absolute;
    z-index: -1;
    user-select: none;
    pointer-events: none;
  }

  .fraise {
    top: 7vh;
    left: -61px;
    width: 189px;
    transform: rotate(15deg) scaleX(-1);
  }

  .banane {
    top: 70vh;
    right: -71px;
    width: 225px;
    transform: rotate(-45deg);
  }

  .avocat {
    top: calc(100vh + 1288px);
    right: 0;
    width: 249px;
    transform: rotate(17deg);
  }

  .pasteque {
    top: calc(100vh + 1600px);
    left: -10px;
    width: 250px;
  }

  .prune {
    bottom: 50px;
    right: 20px;
    width: 304px;
    transform: rotate(18deg);
  }
}
