.mobile-bg {
  padding-bottom: 350px;
  position: relative;
  overflow: hidden;

  .bg-icon {
    position: absolute;
    z-index: -1;
    user-select: none;
    pointer-events: none;
  }

  .fraise {
    top: 7vh;
    left: -21px;
    width: 89px;
    transform: rotate(15deg) scaleX(-1);
  }

  .banane {
    top: 70vh;
    right: -21px;
    width: 125px;
    transform: rotate(-45deg);
  }

  .avocat {
    top: calc(100vh + 1288px);
    right: 0;
    width: 149px;
    transform: rotate(17deg);
  }

  .prune {
    bottom: 50px;
    left: 20px;
    width: 204px;
    transform: rotate(18deg);
  }
}
