// Import variables

@import "variables";

@mixin return-button($bg-color, $chev-color) {
  border: none;
  background: $bg-color;
  border-radius: 10000px;
  width: 100px;
  height: 100px;

  svg {
    color: $chev-color;
    stroke-width: 1px;
  }
}

@mixin notification($bg-color) {
  font-family: $font-text;
  font-size: 20px;
  text-align: center;
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  background: $bg-color;
  color: white;
  padding: 12px 20px;
  border-radius: 30px;
  animation: fadeout 0.3s ease-in-out forwards, hide 3s forwards;
}
