// Colors
$main: #FCAE26;
$light-bg: #FFF7ED;
$dark-text: #303030;
$white: #FFFFFF;
$grey-text: #565656;
$grey-border: #B8B8B8;

// Fonts
$font-title: "Sora", sans-serif;
$font-text: "Carlito", sans-serif;

// Font size
$h1: 60px;
$h2: 36px;
$h3: 28px;

