// Colors
$main: #fcae26;
$light-bg: #fff7ed;
$dark-text: #303030;
$white: #ffffff;
$grey-text: #565656;
$grey-border: #b8b8b8;

// Fonts
$font-title: "Sora", sans-serif;
$font-text: "Carlito", sans-serif;

// Font size
$h1: 60px;
$h2: 36px;
$h3: 28px;
