// Import variables & mixins & animations

@import "variables";
@import "mixins";
@import "animations";

// Import polices

@import url("https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Sora:wght@100..800&display=swap");

// Uniformisation

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: all 0.3s ease;
}

h1 {
  font-family: $font-title;
  font-size: $h1;
  font-weight: 600;
  color: $dark-text;
  text-align: center;
}

h2 {
  font-family: $font-title;
  font-size: $h2;
  font-weight: 600;
  color: $dark-text;
}

h3 {
  font-family: $font-title;
  font-size: $h3;
  font-weight: 600;
  color: $dark-text;
}

p,
label,
input,
button,
a,
li,
address {
  font-family: $font-text;
  color: $dark-text;
  font-size: 20px;
}

input {
  width: 100%;
}

input::placeholder {
  color: $grey-text;
}

img {
  width: 100%;
}

body {
  background: $light-bg;
}

svg {
  stroke-width: 1.5px;
  color: $dark-text;
}

.logo {
  max-width: 100px;

  border-radius: 35px;
}

.container {
  padding: 0 20px;
}

.button {
  display: inline-block;

  width: 100%;
  background: $main;

  padding: 20px 10px;

  border-radius: 30px;

  text-align: center;
  align-content: center;

  font-size: 24px;
  font-weight: bold;
  border: none;
}

.orange-return-button {
  @include return-button($main, $dark-text);
}

.white-return-button {
  @include return-button(white, $main);
  height: 75px;
  width: 75px;
}

.return-button {
  position: absolute;
  left: 30px;
  top: 30px;
}

.error-screen {
  height: 100vh;
  align-content: center;
}

.loader {
  position: absolute;
  left: calc(50% - 75px);
  top: calc(50% - 75px);
  width: 150px;
  height: 150px;
  border: 10px solid $dark-text;
  border-bottom-color: $main;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.notification-success {
  @include notification(#28a745);
}

.notification-error {
  @include notification(#e63946);
}

.legal-main {
  margin-bottom: calc(73px + 116px);

  h1 {
    background: $main;
    padding: 20px 0;
  }

  section {
    padding: 20px;
    border-radius: 20px;

    h2,
    h3 {
      margin-bottom: 10px;
    }

    p,
    address,
    ul {
      margin-bottom: 20px;
    }

    ul {
      padding-left: 20px;
      list-style: disc;
      list-style-position: outside;
    }
  }
}

main {
  margin-bottom: 93px;
}

.success-message {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .button {
    width: auto;
  }
}

// Responsive

@media screen and (min-width: 1025px) {
  .container {
    max-width: 1440px;
    margin: auto;
    padding: 0 40px;
  }

  .button {
    width: fit-content !important;
    padding: 20px 30px !important;
    align-self: center;
  }

  main {
    margin-bottom: 150px;
  }
}