// Import variables & mixins & animations

@import "variables";
@import "mixins";
@import "animations";

// Import polices

@import url("https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Sora:wght@100..800&display=swap");

// Uniformisation

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  transition: all 0.3s ease;
}

h1 {
  font-family: $font-title;
  font-size: $h1;
  font-weight: 600;
  color: $dark-text;
  text-align: center;
}

h2 {
  font-family: $font-title;
  font-size: $h2;
  font-weight: 600;
  color: $dark-text;
}

h3 {
  font-family: $font-title;
  font-size: $h3;
  font-weight: 600;
  color: $dark-text;
}

p,
label,
input,
button,
a,
li {
  font-family: $font-text;
  color: $dark-text;
  font-size: 20px;
}

input {
  width: 100%;
}

input::placeholder {
  color: $grey-text;
}

img {
  width: 100%;
}

body {
  background: $light-bg;
}

svg {
  stroke-width: 1.5px;
  color: $dark-text;
}

.logo {
  max-width: 100px;

  border-radius: 35px;
}

.container {
  padding: 0 20px;
}

.button {
  display: inline-block;

  width: 100%;
  background: $main;

  padding: 20px 10px;

  border-radius: 30px;

  text-align: center;
  align-content: center;

  font-size: 24px;
  font-weight: bold;
  border: none;
}

.orange-return-button {
  @include return-button($main, $dark-text);
}

.white-return-button {
  @include return-button(white, $main);
  height: 75px;
  width: 75px;
}

.return-button {
  position: absolute;
  left: 30px;
  top: 30px;
}

.error-screen {
  height: 100vh;
  align-content: center;
}

.loader {
  position: absolute;
  left: calc(50% - 75px);
  top: calc(50% - 75px);
  width: 150px;
  height: 150px;
  border: 10px solid $dark-text;
  border-bottom-color: $main;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.testing {
  margin-bottom: 400px;
}

.notification {
  font-family: $font-text;
  font-size: 20px;
  text-align: center;
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  background: #e63946;
  color: white;
  padding: 12px 20px;
  border-radius: 30px;
  animation: fadeout 0.3s ease-in-out forwards, hide 3s forwards;
}
